*, *::before, *::after {
    box-sizing: border-box;
}
html{
    background-color: black;
}
#Encabezado{
    width: 100%;
    background-color: rgb(33, 33, 33);
}
.logo{
    width: 200px;
    height: 50px;
}