
@import url('https://fonts.googleapis.com/css2? family= Reem+Kufi+Fun:wght@400;500;600;700 & display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

html{
    background-color: black;

}

#Encabezado{
    display:flex;
    height: 75px;
    width: 100%;
}
#BarraMenu{
    display:flex;
    width: 100%;
    padding: 5px 5%;
    overflow: hidden;
    position: fixed;
    z-index: 10;
}

.logo{
    width: 200px;
    height: 50px;
}

#Menu{
    display:flex;
    margin: 0 auto;
    padding: 15px 1%;
}


.Menu{
    font-family: 'Reem Kufi Fun', sans-serif;
    color: #ffffffcf;
    text-decoration: none;
    font-size: 1em;
    letter-spacing: 1px;
    font-weight:600; 
    text-align: center;
    padding: 14px 22px;
}

.Menu:hover{
    color: white;
    border-bottom: 3px solid #ffff;
    transition: 0.15s;
}

a.Actual{
    color: white;
    border-bottom: 3px solid #ffff;
  }

#Buscar{
    display: flex;
    padding: 15px 1%;

}

.Buscar {
    width: 80%;
    height: 35px;
    background-color: rgba(8,15,40,.5);
    color: inherit;
    border-color: #ffffffcf;
    border-style: solid;
    border-radius: 15px;
    border-width: 2px;
    font-size: 1em;
    padding: 0.375rem 1.5rem;
    margin-bottom: 7%;
    justify-content: right;
}

.Buscar:hover{
    border-color: #ffff;
    transition: 0.15s;
    cursor: pointer;
}

#Contenido{
    padding: 3% 15%;
    
}

h3{
    font-family: 'Reem Kufi Fun', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    color: #ffffffcf;
  }



.Cartel img{
    width: 200px;
    height: 320px;
}

.Cartel{
    background-color: #1a1a1a;
    display: inline-block;
    cursor: pointer;
    width: 210px;
    border-style: solid;
    border-radius: 10px;
    border-color: black;
    border-width: 4px;
    margin: 20px 15px;
}

.Cartel h3{
    display: block;
    font-family: 'Reem Kufi Fun', sans-serif;
    font-size: 0.9em;
    font-weight: bold;
    color: #ffffffcf;
    text-align: center;
  }


.Cartel:hover{
    border-color: #ffffffcf;
    color: #ffffff96;
    transition: 0.5s;
  }

#Spam{
    background-color: #1a1a1a;
    color: #ffffffcf;
    padding: 40px 12%;
    font-family: 'Reem Kufi Fun', sans-serif;
    position: relative;
}

.info{
    display: inline-block;
    width: 400px;
    text-align: justify;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.info h2{
    font-size: 1.6em;
    font-weight: bold;
    color: #ffff;
    
}

.info div.boton{
    margin-top: 10%;
}

.info a{
    margin-top: 24px;
    color: #ffffffcf;
    text-decoration: none;
    padding: 10px 20px;
    border: #ffffffcf solid 1px;
}

.saga{
    display: inline-block;
    margin-left: 45%;
    width: 500px;
}

.saga img{
    height: 350px;
    width: 600px;
}



#Pie_pagina{
    background-color: #1a1a1a;

}

