@import url();


*, *::before, *::after {
    box-sizing: border-box;
}
html{
    background-color: black;
}
#Encabezado{
    width: 100%;
}
.logo{
    width: 200px;
    height: 50px;
}
.Menu {
    float: left;
    font-size: 16px;
    color: #ffffffc9;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
